<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.galaxcom.lumiereapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.inventario.CategoriasProductoActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            />
        </activity>
        <activity
            android:name=".activities.inventario.SubCategoriasProductoActivity"
            android:parentActivityName=".activities.inventario.CategoriasProductoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.inventario.CategoriasProductoActivity" />
            />
        </activity>
        <activity
            android:name=".activities.inventario.ListaInventarioActivity"
            android:parentActivityName=".activities.inventario.SubCategoriasProductoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.inventario.SubCategoriasProductoActivity" />
        </activity>
        <activity android:name=".activities.inventario.AgregarProductoActivity" />
        <activity android:name=".activities.pedidos.PedidosOpcionesActivity" />
        <activity
            android:name=".activities.pedidos.AgregarPedidoActivity"
            android:parentActivityName=".activities.pedidos.PedidosOpcionesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.pedidos.PedidosOpcionesActivity"/>
        </activity>
        <activity
            android:name=".activities.pedidos.ListadoProductosAgregarPedidoActivity"
            android:parentActivityName=".activities.pedidos.AgregarPedidoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.pedidos.AgregarPedidoActivity"/>
        </activity>
    </application>

</manifest>